:root {
    --primary-color: steelblue;
    --text-light: white;
    --text-dark: #333;
    --background-light: #eee;

    --border-black: 1px solid black;
    --border-gray: 1px solid rgba(0, 0, 0, 0.2);
    --border-steel: 1px solid steelblue;

    --image-width: 100px;

    --shadow: 0 0 30px gray;

    --padding-small: 2px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: var(--text-light);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
    margin-bottom: 20px;
}

main {
    max-width: 840px;
    margin: 15px;
}

main img {
    width: 110px;
    height: auto;
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
    border: var(--border-steel);
    padding: var(--padding-small);
    box-shadow: var(--shadow);
}

img {
    width: var(--image-width);
    height: auto;
    border: var(--border-black);
    padding: var(--padding-small);
    box-shadow: var(--shadow);
}

p {
    padding: 0;
    line-height: 1.5;
    margin-bottom: 20px;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    z-index: 2;
}

aside img {
    width: 200px;
    height: auto;
}

aside p {
    margin-top: 10px;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    border: var(--border-gray);
    background-color: var(--background-light);
    color: var(--text-dark);
    border-radius: 5px;
}

.box li {
    margin-left: 20px;
    padding: 4px;
}

footer {
    margin-top: 20px;
    border-top: var(--border-black);
    text-align: center;
}

footer p {
    margin: 1rem 0;
}